:root {
  --clr-60: rgb(0, 0, 0);
  --clr-30: rgb(14, 14, 14);
  --clr-10: rgb(255, 255, 255);
}
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth; /* Automatic Smooth scroll for Anchor Links*/
  scroll-padding: 4rem;
}
body {
  margin: 0;
  padding: 0;
}
header {
  height: calc(100vh - 4rem);
  padding: 1rem;
  /* border: 10px solid wheat; */
  background-color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5rem;
}
a {
  text-decoration: none;
}

.intro {
  flex: 1;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.intro h1 {
  flex: 1;
  font-size: 10vw;
}
.profileimage {
  min-width: 3rem;
  /* width: max(40%, 10rem); */
  border-radius: 10px;
}

/* Main */
main {
  padding: 3%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
}
.main-card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.left-side {
  flex: 2;
  min-width: 10rem;
}
.right-side {
  flex: 1;
  min-width: 5rem;
}
/* Sections */
section {
  height: calc(100vh - 4rem);
  padding: 5%;
}
#sec-1 {
  background-color: var(--clr-30);
}
/* Footer */
footer {
  padding: 2rem;
}
.Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imgIcon {
  border-top: 3px solid black;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.icon {
  height: 1.5rem;
}
