:root {
  --clr-60: rgb(0, 0, 0);
  --clr-30: rgb(24, 25, 26);
  --clr-10: rgb(255, 255, 255);
  --padding: 2rem;
  --section-height: calc(100vh - 3rem);
}
* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
html {
  scroll-behavior: smooth; /* Automatic Smooth scroll for Anchor Links*/
  scroll-padding: 4rem;
}
body {
  margin: 0;
  padding: 0;
}

header {
  height: var(--section-height);
  padding: var(--padding);
  /* border: 10px solid wheat; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3rem;
}
@media all and (max-width: 700px) {
  header {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.headerCard {
  height: 100%;
  width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.name {
  font-size: clamp(1rem, 8vw, 7rem);
}
.name::before {
  content: "Hi I'm";
  font-size: clamp(1rem, 2vw, 3rem);
  display: block;
}
.image-container {
}
.profileimage {
  width: 100%;
  height: 100%;
  border-radius: 3rem;
}

/* Main */
main {
  padding: var(--padding);
  height: var(--section-height);
  background-color: rgb(70, 68, 68);
  display: grid;
  grid-template-columns: 1fr 1fr;
}
@media all and (max-width: 700px) {
  main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 3rem;
  }
}
.maincards {
  display: flex;
  justify-content: center;
  align-items: center;
}
.mainLeftSide {
}
.main-image {
  width: min(35rem, 80%);
}
/* Sections */
section {
  height: var(--section-height);
  padding: 5%;
}
#sec-1 {
  background-color: var(--clr-30);
}

/* Footer */
footer {
  padding: 2rem;
  background-color: var(--clr-30);
}
.Contact {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.imgIcon {
  border-top: 3px solid black;
  padding: 1rem;
  display: flex;
  gap: 1rem;
}
.icon {
  height: 1.5rem;
}
